{% extends "mypass/layout.html" %} 
{% block body %}

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">

  {% for item in data.object_list %}
  <div class="col">
    <!-- START CARD -->

    {% if item.favorite %}
    <div class="card border-warning" id="card-border-{{item.id}}">
    {% else %}
    <div class="card" id="card-border-{{item.id}}">
    {% endif %}

      {% if pageCode == "password_view" %}
      <div class="card-img-top-in">
        <img src="{{ item.logo }}" alt="{{item.domain_name}}" class="card-top-img" />
      </div>
      {% endif %}

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <button type="button" onclick="openLink('{{ item.url }}')" target="_blank" class="btn btn-outline-primary rounded-pill btn-card-left">
            {{ item.domain_name }}
          </button>
        </li>

        <li class="list-group-item" id="private-infomation-{{item.id}}">
          <div class="card-body">
            <p class="card-text">
              <i class="bi bi-person-circle"></i>&ensp;{{ item.domain_username }}
              
            </p>

          </div>
        </li>

        <li class="list-group-item" id="btn-fav-delete-group-{{item.id}}" style="display: none">
          
          <button type="button" class="btn btn-outline-danger rounded-pill btn-card-left" onclick="deleteIt('{{item.id}}', '{{pageCode}}')">
            <i class="bi bi-trash"></i>
          </button>
          <button type="button" class="btn btn-outline-primary rounded-pill btn-card-left" onclick="editIt('{{item.id}}', '{{pageCode}}')" data-bs-target="#staticBackdrop" data-bs-toggle="modal">
            <i class="bi bi-pen"></i>
          </button>

          <button type="button" class="btn btn-outline-secondary rounded-pill btn-card-right" onclick="hideTrash('{{item.id}}')">
            <i class="bi bi-x-lg"></i>
          </button>
        </li>

        <li class="list-group-item" id="btn-show-option-{{item.id}}">
          <button type="button" onclick="starIt('{{item.id}}', '{{pageCode}}')" id="btn-star-{{item.id}}" class="btn btn-outline-warning rounded-pill btn-card-left">
            {% if item.favorite %}
              <i class="bi bi-star-fill"></i>
            {% else %}
              <i class="bi bi-star"></i>
            {% endif %}
          </button>

          <button onclick="reviewPassword('{{item.id}}')" id="show-my-password-{{item.id}}" type="button" class="btn btn-outline-secondary rounded-pill btn-card-left" data-bs-target="#modalPasswordtoView-{{item.id}}" data-bs-toggle="modal">
            <i class="bi bi-eye" id="ready-to-show-{{item.id}}"></i>
          </button>

          <button type="button" class="btn btn-outline-secondary rounded-pill btn-card-right" onclick="showOption('{{item.id}}')">
            <i class="bi bi-three-dots"></i>
          </button>

        </li>
      </ul>

      
    </div>

    <!-- END CARD -->

<!-- Modal -->
<div class="modal fade" id="modalPasswordtoView-{{item.id}}"  data-bs-backdrop="static"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Password for Your {{item.domain_name}} Account</h5>
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="form-label">Link</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-describedby="button-addon2" disabled value="{{ item.url }}">
          <button class="btn btn-outline-secondary" type="button" id="button-link" onclick="openLink('{{ item.url }}')"><i class="bi bi-box-arrow-right"></i></button>
        </div>

        <label class="form-label">Username</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-describedby="button-addon2" disabled value="{{ item.domain_username }}">
          <button class="btn btn-outline-secondary" type="button" id="button-username" onclick="copy('{{item.id}}', 'username')"><i class="bi bi-clipboard"></i></button>
        </div>


        <label class="form-label">Password</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-describedby="button-addon2" disabled id="password-view-{{ item.id }}">
          <button class="btn btn-outline-secondary" type="button" id="button-password" onclick="copy('{{item.id}}', 'password')"><i class="bi bi-clipboard"></i></button>
        </div>

        <label class="form-label">Note</label>
        <div class="input-group mb-3">
          <textarea class="form-control" id="note-area" rows="3" disabled>{{ item.note }}</textarea>
        </div>
        
        <div class="input-group mb-3">
          <small class="text-muted">Last edit on {{ item.date_edit }}</small>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modal-close-{{item.id}}">Close</button>
      </div>
    </div>
  </div>
</div>



  </div>
  {% endfor %}
</div>


{% endblock %}