{% extends "mypass/layout.html" %} {% block body %}

<div class="row">
    <div class="col-lg-8 col-md-10 col-sm-11 mx-auto">
        <ul class="list-group shadow">
            <li class="list-group-item">


                {% if data is None %}
                    <h1 class="display-5">Nothing found</h1>
                    
                {% else %}
                    <h1 class="display-5">{{data.user.last_name}}, {{data.user.first_name}}'s Address </h1>
                    
                    <small class="text-muted">Last edit on {{ data.date_edit }}</small>
                    
                    <hr/>

                    <p class="lead">Address: {{ data.address }}</p>
                    <p class="lead">City: {{ data.city }}</p>
                    <p class="lead">State: {{ data.state }}</p>
                    <p class="lead">Zip Code: {{ data.zipcode }}</p>
                    <p class="lead">Email: {{ data.email }}</p>
                    <p class="lead">Phone: {{ data.phone }}</p>
                    <p class="lead">Note: </p>
                    <p class="lead">{{ data.note|linebreaksbr }}</p>
                    <p class="lead">Map</p>

                    <div class="mapouter" style="
                        position: relative;
                        text-align: right;
                        height: 500px;
                        width: 100%;
                        ">
                    <div class="gmap_canvas" style="
                        overflow: hidden;
                        background: none !important;
                        height: 500px;
                        width: 100%;
                        ">
                    <iframe width="100%" height="500" id="gmap_canvas" src="{{ data.encoded_address }}" frameborder="0"
                        scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>


                {% endif %}
                

            </li>
        </ul>
    </div>
</div>

<script>
    document.getElementById("staticBackdrop").remove();
    document.getElementById("add-btn").remove();
</script>

{% endblock %}